<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Табель <br>{{userEmail}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" *ngIf="isAuthenticated">
        <a routerLink="/smen-list">Список смен</a></li>
      <li routerLinkActive="active" *ngIf="isAuthenticated">
        <a routerLink="/reports">Рапортички</a></li>
      <li routerLinkActive="active" *ngIf="isAuthenticated">
        <a routerLink="/worker-list">Табельные номера рабочих</a></li>
      <li routerLinkActive="active" *ngIf="!isAuthenticated">
        <a routerLink="/auth">Вход или регистрация</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isAuthenticated">
        <a style="cursor: pointer" (click)="onLogout()">Выйти</a>
      </li>
      <li class="dropdown" appDropdown *ngIf="isAuthenticated">
        <a
          style="cursor: pointer;"
          class="dropdown-toggle" role="button">Управление базой</a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onSaveData()" *ngIf="(workersLength > 0) &&
          (smenListLength > 0)">Сохранить</a></li>
          <li><a style="cursor: pointer;" (click)="onFetchData()">Загрузить</a></li>
<!--          <li><a style="cursor: pointer;" (click)="onSaveWorkers()" *ngIf="workerListService.getWorkers().length > 0">Сохранить данные работников</a></li>-->
<!--          <li><a style="cursor: pointer;" (click)="onFetchWorkers()">Загрузить данные работников</a></li>-->
<!--          <li><a style="cursor: pointer;" (click)="onSaveSmens()" *ngIf="smenListService.getSmens().length > 0">Сохранить смены</a></li>-->
<!--          <li><a style="cursor: pointer;" (click)="onFetchSmens()">Загрузить смены</a></li>-->
        </ul>
      </li>
    </ul>
  </div>
</nav>
