<div class="row">
  <div class="col-xs-12">
<!--    {{(selectedSmena$ | async).workersTime}}-->
<!--    <div *ngFor="let worker of selectedWorkers">-->
<!--      <div>-->
<!--        {{worker.surname}}-->
<!--      </div>-->
<!--    </div>-->
    <h4>Дата: {{ selectedSmena.dateSmen | date}}</h4>
    <p>Номер смены: {{ selectedSmena.numSmen }}   Машина: {{ selectedSmena.mashine}}</p>
    <p>Работники:</p>
    <p *ngFor="let wrk of selectedWorkers; let i = index">
      {{ wrk.surname }} {{ wrk.name }} {{ wrk.patronymic }} {{wrk.tabelNum}}
      <br>

      <label *ngIf="selectedSmena.workersTime[i].sdelTime">
        Сдельно: {{ selectedSmena.workersTime[i].sdelTime }}
      </label>
      <br *ngIf="selectedSmena.workersTime[i].sdelTime">

      <label *ngIf="selectedSmena.workersTime[i].nightTime">
        Ночное время: {{ selectedSmena.workersTime[i].nightTime }}
      </label>
      <br *ngIf="selectedSmena.workersTime[i].nightTime">

      <label *ngIf="selectedSmena.workersTime[i].prostTime">
        Простой 2/3 среднего: {{ selectedSmena.workersTime[i].prostTime }}
      </label>
      <br *ngIf="selectedSmena.workersTime[i].prostTime">

      <label *ngIf="selectedSmena.workersTime[i].prikTime">
        Работа по приказу: {{ selectedSmena.workersTime[i].prikTime }}
      </label>
      <br *ngIf="selectedSmena.workersTime[i].prikTime">

      <label *ngIf="selectedSmena.workersTime[i].srednTime">
        Работа по среднему: {{ selectedSmena.workersTime[i].srednTime }}
      </label>
      <br *ngIf="selectedSmena.workersTime[i].srednTime">

      <label *ngIf="selectedSmena.workersTime[i].pprTime">
        ППР: {{ selectedSmena.workersTime[i].pprTime }}
      </label>
      <br  *ngIf="selectedSmena.workersTime[i].pprTime">

      <label *ngIf="selectedSmena.workersTime[i].doublePayTime">
        Двойная оплата: {{ selectedSmena.workersTime[i].doublePayTime }}
      </label>
    </p>
  </div>
  <button
    (click)="onEditSmena()"
    class="btn btn-success">Редактировать смену</button>
  <button
    class="btn btn-danger"
    (click)="onDeleteSmena()">Удалить смену</button>
</div>
