<ng-template appPlaceHolder></ng-template>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="smenForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Дата</mat-label>
              <input
                required
                matNativeControl
                matInput
                [matDatepicker]="myDatepicker"
                id="dateSmen"
                formControlName="dateSmen">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Машина</mat-label>
              <mat-select
                required
                formControlName="mashine">
                <mat-option *ngFor="let machine of machineList" [value]="machine">
                  {{machine}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Номер смены</mat-label>
              <mat-select
                formControlName="numSmen"
                required>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12" formArrayName="workersTime">
            <div class="row"
                 *ngFor="let wrk of getControls(); let i = index"
                 [formGroupName]="i"
                 style="margin-top: 10px">


                <mat-form-field class="example-full-width">
                  <mat-label>Табельный номер</mat-label>
                  <input
                    #tbN
                    formControlName="tbNum"
                    matInput>
                </mat-form-field>
                <span *ngIf="getWorkerByTN(tbN.value)">
                  {{getWorkerByTN(tbN.value).surname}}
                  {{getWorkerByTN(tbN.value).name[0]}}.
                  {{getWorkerByTN(tbN.value).patronymic[0]}}.
                </span>
                <span *ngIf="!wrk.get('tbNum').valid && wrk.get('tbNum').touched"
                      class="help-block">
                  <span
                    *ngIf="wrk.get('tbNum').errors['tabelNumNotExist']">Данного номера нет в базе табельных номеров!</span>
                  <span *ngIf="wrk.get('tbNum').errors['required']">Это поле обязательно к заполнению!</span>
                  <span *ngIf="wrk.get('tbNum').errors['pattern']">Табельный номер состоит из четырех цифр</span>
                </span>


              <mat-form-field class="example-full-width">
                <mat-label>Разряд</mat-label>
                <input
                  formControlName="grade"
                  type="number"
                  pattern="^[1-6]+$"
                  matInput>
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <mat-label>Сдельно</mat-label>
                <input
                  matInput
                  formControlName="sdelTime"
                  type="number">
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <mat-label>Ночное время</mat-label>
                <input
                  matInput
                  formControlName="nightTime"
                  type="number">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Простой</mat-label>
                <input
                  matInput
                  formControlName="prostTime"
                  type="number">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>По приказу</mat-label>
                <input
                  matInput
                  formControlName="prikTime"
                  type="number">
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <mat-label>По среднему</mat-label>
                <input
                  matInput
                  formControlName="srednTime"
                  type="number">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>ППР</mat-label>
                <input
                  matInput
                  formControlName="pprTime"
                  type="number">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Двойная оплата:</mat-label>
                <input
                  matInput
                  formControlName="doublePayTime"
                  type="number">
              </mat-form-field>

              <div class="col-xs-4 col-md-2">


              </div>
              <div class="row">
                <button
                  class="btn btn-danger"
                  (click)="onDeleteWorkTime(i)"
                  type="button">Удалить
                </button>
              </div>
              <div class="row">
                <br>
                <hr>
              </div>

            </div>

            <button
              class="btn btn-success"
              type="button"
              (click)="onAddWorkerTime()">Добавить рабочего
            </button>
            <hr>
            <div class="row">
              <div class="col-xs-12">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="!smenForm.valid"
            type="submit"
            class="btn btn-success">Сохранить
          </button>
          <button
            (click)="onCancel()"
            type="button"
            class="btn btn-danger">Отмена
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
